
@{
     Layout = "~/views/shared/_layout.cshtml";
    }

@model project.Models.UserAccount

    <html>
    <head>
        <title>

        </title>

        <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/bootstrap.min.css" />

        <script type="text/javascript" src="~/Content/jQuery/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="~/Content/Bootstrap/js/bootstrap.min.js"></script>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <!-- Custom Fonts -->

        <link rel="stylesheet" href="~/Conetnt/Bootstrap/font-awesome/css/font-awesome.min.css" type="text/css">
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="~/Content/css/animate.min.css" type="text/css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="~/Content/css/creative.css" type="text/css">
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="~/Contnet/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/animate-custom.css" />
     
    </head>


    <body>
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-header" href="#" style="margin-left:15px; color:lightgoldenrodyellow; font-size:30px; font-style:italic">Welcome  To My Diary</a>

            </div>

            <div class=" navbar-default navbar-right">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <div>
                <ul class="nav navbar-nav navbar-right" style="margin-right:30px ;font-size:18px">

                    <li>
                        <a class=" page-scroll" href="#about">About</a>
                    </li>

                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>

                    <li>
                        @Html.ActionLink("Register", "Register", "Account")
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>

                    @*<li>
                        @Html.ActionLink("Diary", "Diary", "UserDiary")
                    </li>*@

                </ul>


            </div>
        </nav>



        <header>

            <section class="container">
                @*<img src="~/Images/login.jpg" style="left:" />*@
                @*<h3 style="font-weight:700">LOGIN</h3>*@

                <div class="row" style="padding-top:10px">
                    <div class="col-md-3">
                        <div class="list-group" style="min-height:750px; max-width:300px">
                            @*<label class="list-group-item active"></label>*@
                            @*<a class="list-group-item" href="#"></a>*@
                        </div>
                    </div>

                    <div class="col-md-6 pull-left">
                        <section>
                            <div class="container">
                                <div class="centre">
                                    <h2>Login your Profile</h2>
                                </div>

                                <div class="col-md-6 pull-left">
                                    <div id="signupbox">
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">

                                                <div class="panel-title">Login your Profile</div>

                                            </div>

                                            <div class="panel-body">

                                                <div class="form-group">

                                                    <form id="signupform" action="/Account/LoginUser" method="post"  class="form-horizontal" role="form" >
                                                        @*@Html.AntiForgeryToken()*@
                                                        @Html.ValidationSummary(true)

                                                        <div class="form-group">
                                                            @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })

                                                            <div class="col-md-9">
                                                                @Html.TextBoxFor(m => m.Name, new { required = "required", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Name)
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })

                                                            <div class="col-md-9">
                                                                @Html.PasswordFor(m => m.Password, new { required = "required", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Password)
                                                            </div>
                                                        </div>
                                                        <input type="submit" value="Login" />
                                                        <p class="change_link">
                                                            Not a member yet ?
                                                            <a href="/Account/Register" class="to_register">Join us</a>
                                                        </p>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>

                @*<form action="/Account/Save" method="post" enctype="multipart/form-data">
                    <br />
                    <br />

                    Upload Image: <input type="file" name="profile" />
                    <br />


                    <input type="submit" value="upload" />
                </form>*@

            </section>
        </header>
        @*<aside class="bg-dark">

            <div class="container text-center">
                <div class="call-to-action">
                    <h2>Get Started To Express Your Feeligns!</h2>

                    <a href="#" class="btn btn-default btn-xl wow tada">Start Up</a>

                </div>
            </div>

        </aside>*@



        @*<div class="login-form">
            <div class="head">
                <img src="~/Images/admin.png" alt="" />

            </div>
            <form>
                <li>
                    @Html.LabelFor(m => m.Name)<a href="#" class=" icon user"></a>
                    @Html.TextBoxFor(m => m.Name, new { required = "required"})
                </li>
                @Html.LabelFor(m => m.Password)<a href="#" class=" icon lock"></a>
                @Html.PasswordFor(m => m.Password, new { required = "required" })
                <li>
                    <a href="#" class=" icon lock"></a>
                </li>
                <div class="p-container">
                    <input type="submit" value="Login" />
                    <p class="change_link">
                        Not a member yet ?
                        <a href="/Account/Register" class="to_register">Join us</a>
                    </p>

                    <div class="clear"> </div>
                </div>
            </form>
        </div>*@






      
            
    </body>
</html>